<div class="container text-center">
  <button type="button" class="btn btn-success" id="start-button">Start</button>
</div>
<div class="container">
  <%= simple_form_for ([@service, @unsub])  do |f| %>
    <% @form_service.each do |d| %>
      <% if d[:type] != "text" %>
        <%= f.input :form_complete, label:  d[:label], as: d[:type], collection: d[:choices] %>
        <%= f.button :submit, "next", class: "btn-success" %>
      <% else %>
        <%= f.input :form_complete, label:  d[:label], as: d[:type] %>
        <%= f.button :submit, "next", class: "btn-success" %>
      <%end%>
    <% end %>
    <%= f.button :submit,  class: "btn-success" %>
  <% end %>
</div>


