<div class="user">
  <p><%= @unsub.form_complete["firstname"] %> <%= @unsub.form_complete["lastname"] %></p>
  <p><%= @unsub.form_complete["address"] %></p>
  <p><%= @unsub.form_complete["address_complement"] %></p>
  <p><%= @unsub.form_complete["zipcode"] %> <%= @unsub.form_complete["city"] %></p>
</div>

<div class="service">
  <p><%= @unsub.service.company %></p>
  <p><%= @unsub.service.name %></p>
  <p><%= @unsub.service.postal_code %></p>
  <p><%= @unsub.service.zip_code %> <%= @unsub.service.city %></p>
</div>





