<div class="wrapper bg-blue-light">
  <div class="container text-center">
    <div class="row" id="offer-user-card">
      <div class="col-lg-12 col-sm-12 offer-header">
        <div>
          <img src="<%= image_path('logo-red.png') %>" id="logo-offer">
        </div>
        <h4>Merci <strong><%= @unsub.form_complete["firstname"] %> <%= @unsub.form_complete["lastname"] %></strong></h4>
        <p>Sélectionnez votre méthode de résiliation pour <%= @unsub.service.name %></p>
      </div>
    </div>
  </div>
  <div class="container padded-2">
    <div class="row">
      <div class="col-lg-6 col-md-12 ">
        <div class="card-offer text-center">
            <h4><strong>J'envoie mon courrier</strong></h4>
          <hr>
            <h3>0€</h3>
          <hr>
            <ul class= "list-unstyled">
              <li> Fleeme génère votre lettre personnalisée</li>
              <li> Recevez votre PDF à envoyer</li>
              <li> Vous envoyez vous même votre recommandé </li>
            </ul>
          <hr>
          <div>
            <button class="btn-share" onclick="shareOnFB();">Partager</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card-offer text-center">
          <h4><strong>Fleeme s'occupe de tout</strong></h4>
          <hr>
          <h3>7€</h3>
          <hr>
            <ul class= "list-unstyled">
              <li> Envoi immédiat de votre lettre à <%= @unsub.service.company %></li>
              <li> Votre courrier vous est envoyé par mail au format PDF</li>
              <li> Nous vous renvoyons l'accusé réception sous 3 jours </li>
            </ul>
          <hr>
          <div>
            <%= form_tag new_unsub_payment_path(@unsub), method: :get do %>
            <%= hidden_field_tag 'unsub_id', @unsub.id %>
            <%= submit_tag 'Continuer', class: "button-red vcenter"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Votre lettre personnalisée</h4>
      </div>
      <div class="modal-body">
        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Merci pour votre partage.</p>
        <p>Cliquez sur "Télécharger ma lettre" ci-dessous pour obtenir votre lettre de résiliation au format PDF.</p>
        <p>Votre demande de résiliation doit être envoyée à l'adresse suivante:</p>
        <div class="card-address-service">
          <p><%= @unsub.service.company%></p>
          <p><%= @unsub.service.name%></p>
          <p><%= @unsub.service.street_address%></p>
          <p><%= @unsub.service.zip_code%>, <%= @unsub.service.city%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function shareOnFB() {
 FB.ui({
        method: "feed",
        link: "www.fleeme.fr",
        picture: "http://2d28c608.ngrok.io/assets/fbpicture.jpg",
        name:"<%= meta_title %>",
        caption: 'www.fleeme.fr',
        description: "<%= meta_description %>"
      }, function(t){
        var str = JSON.stringify(t);
        var obj = JSON.parse(str);
        if(obj.post_id != '')
        {
           console.log("Successfull sharing !");
           $('#myModal').modal('show');
        }
      });
}

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=230165427375572=&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

