<div class="container min-height-screen padded-5">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
      <div class="card-confirmation-title text-center padded-1">
        <h2 class= "title-show-unsub">Votre lettre personnalisée a bien été générée</h2>
        <p>Pour terminer votre résiliation, choisissez une des options suivantes:</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1  col-sm-12">
      <div class="card-confirmation">
        <div class="row">
          <div class="col-lg-8 col-sm-12">
            <h3>Fleeme s' occupe de tout</h3>
            <ul class="list-unstyled">
              <li>- Envoi immédiat de votre lettre à <%= @unsub.service.company %></li>
              <li>- Votre courrier vous est envoyé par mail au format PDF</li>
              <li>- Nous vous renvoyons l'accusé réception sous 3 jours</li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h4><%= @unsub.price %> €</h4>
            <div class="col-lg-4 col-sm-12">
              <%= form_tag new_unsub_payment_path(@unsub), method: :get do %>
              <%= hidden_field_tag 'unsub_id', @unsub.id %>
              <%= submit_tag 'Continuer', class: "button-red vcenter"%>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-sm-12">
      <div class="card-confirmation">
        <div class="row">
          <div class="col-lg-8 col-sm-12">
            <h3>Téléchargez gratuitement</h3>
            <ul class="list-unstyled">
              <li>- Génération de votre lettre de résiliation personnalisée</li>
              <li>- Réception de votre lettre sur votre boîte mail au format PDF</li>
            </ul>
          </div>
          <div class="col-lg-4 col-sm-12">
            <h5>Partager sur Facebook pour accéder à ma lettre</h5>
            <button class="btn-blue-neg" onclick="shareOnFB();">Choisir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Votre lettre personnalisée</h4>
      </div>
      <div class="modal-body">
        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Merci pour votre partage.</p>
        <p>Cliquez sur "Télécharger ma lettre" ci-dessous pour obtenir votre lettre de résiliation au format PDF.</p>
        <p>Votre demande de résiliation doit être envoyée à l'adresse suivante:</p>
        <div class="card-address-service">
          <p><%= @unsub.service.company%></p>
          <p><%= @unsub.service.name%></p>
          <p><%= @unsub.service.street_address%></p>
          <p><%= @unsub.service.zip_code%>, <%= @unsub.service.city%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function shareOnFB() {
 FB.ui({
        method: "feed",
        link: "www.fleeme.fr",
        picture: "http://2d28c608.ngrok.io/assets/fbpicture.jpg",
        name:"<%= meta_title %>",
        caption: 'www.fleeme.fr',
        description: "<%= meta_description %>"
      }, function(t){
        var str = JSON.stringify(t);
        var obj = JSON.parse(str);
        if(obj.post_id != '')
        {
           console.log("Successfull sharing !");
           $('#myModal').modal('show');
        }
      });
}

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=230165427375572=&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

