<div class="wrapper first-after-banner">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12 col-sm-12 offer-header">
        <h2 class="tx-blue">Merci <strong><%= @unsub.form_complete["firstname"] %> <%= @unsub.form_complete["lastname"] %></strong> pour vos informations</h2>
        <p>Nous sommes maintenant en mesure de créer votr courrier personnalisé pour <%= @unsub.service.name %></p>
        <h4 class="tx-blue">Afin de poursuivre, choisissez votre méthode de résiliation ci-dessous.</h4>
      </div>
    </div>
  </div>
</div>
<div class="wrapper bg-grey-light">
  <div class="container padded-2">
    <div class="row">
      <div class="col-lg-6 col-sm-12 ">
        <div class="card-offer text-center">
          <div class="wrapper card-offer-header bg-blue">
            <img src="<%= image_path('Fleeme-02.png') %>" class="logo-offer">
          </div>
          <div class="card-description">
            <div class="card-offer-title tx-blue">
              <h4><strong>TÉLÉCHARGEMENT DE VOTRE LETTRE PERSONNALISÉE SANS ENVOI</strong></h4>
            </div>
            <div class="list-offer text-left tx-grey">
              <ul>
                <li>Fleeme génère votre lettre personnalisée</li>
                <li>Téléchargez votre courrier à envoyer (format PDF)</li>
              </ul>
              <p>Cette méthode n'inclut pas l'envoi automatique Fleeme. Nous vous indiquons toutefois l'adresse du service concerné</p>
            </div>
            <div class="price tx-blue">
              <h1>GRATUIT</h1>
              <p>(Nécessite de partager Fleeme sur Facebook)</p>
            </div>
            <div>
              <button class="btn-blue-neg" onclick="shareOnFB();">Choisir</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card-offer text-center">
          <div class="wrapper  card-offer-header bg-red">
            <img src="<%= image_path('Fleeme-01.png') %>" class="logo-offer">
          </div>
          <div class="card-description">
            <div class="card-offer-title tx-red">
              <h4><strong>ENVOI AUTOMATIQUE FLEEME</strong></h4>
            </div>
            <div class="list-offer text-left tx-grey">
              <ul>
                <li>Génération du courrier recommandé.</li>
                <li>Envoi immédiat de votre lettre à <%= @unsub.service.company %>.</li>
                <li>Votre courrier vous est envoyé par mail au format PDF.</li>
                <li>Nous vous renvoyons l'accusé réception sous 3 jours.</li>
              </ul>
            </div>

            <div class="price tx-red">
              <h1>7€</h1>
              <p>(Prix d'un recommandé + 2€)</p>
            </div>
            <div id="btn-pay">
              <%= form_tag new_unsub_payment_path(@unsub), method: :get do %>
              <%= hidden_field_tag 'unsub_id', @unsub.id %>
              <%= submit_tag 'Choisir', class: "button-red vcenter", id:"pay"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Votre lettre personnalisée</h4>
      </div>
      <div class="modal-body">
        <p><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Merci pour votre partage.</p>
        <p>Cliquez sur "Télécharger ma lettre" ci-dessous pour obtenir votre lettre de résiliation au format PDF.</p>
        <p>Votre demande de résiliation doit être envoyée à l'adresse suivante:</p>
        <div class="card-address-service">
          <p><%= @unsub.service.company%></p>
          <p><%= @unsub.service.name%></p>
          <p><%= @unsub.service.street_address%></p>
          <p><%= @unsub.service.zip_code%>, <%= @unsub.service.city%></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function shareOnFB() {
 FB.ui({
        method: "feed",
        link: "www.fleeme.fr",
        picture: "http://2d28c608.ngrok.io/assets/fbpicture.jpg",
        name:"<%= meta_title %>",
        caption: 'www.fleeme.fr',
        description: "<%= meta_description %>"
      }, function(t){
        var str = JSON.stringify(t);
        var obj = JSON.parse(str);
        if(obj.post_id != '')
        {
           console.log("Successfull sharing !");
           $('#myModal').modal('show');
        }
      });
}

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=230165427375572=&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

