<%= render 'shared/banner' %>
<div class="wrapper bg-blue full-height" id="services">
  <div class="container">
    <div class="row padded-2 ">
      <h3 class="tx-white text-center padded-1" >Services disponibles</h3>
      <div class="container text-center">
        <div class="col-lg-4 col-sm-6">
          <div class="card-service">
            <img src="<%= image_path('ugcilli.png') %>">
            <p>UGC Illimité</p>
            <%= button_to "Résilier", "/services/1/unsubs/new", class: "button-red", method: :get %>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="card-service">
            <img src="<%= image_path('gaumont.png') %>">
            <p>Carte Gaumont Le Pass</p>
            <button class="button-red">Résilier</button>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="card-service">
            <img src="<%= image_path('canal.png') %>">
            <p>Canal+</p>
            <button class="button-red">Résilier </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row padded-2 text-center tx-white">
      <div class="col-lg-4 col-lg-offset-4" id="add-service">
        <h4>Le service que vous voulez résilier n'est pas encore disponible sur Fleeme ?</h4>
        <p>Donnez-nous son nom pour qu'il soit ajouté rapidement</p>
        <form>

          <input type="text" class="form-control form-lg" id="" placeholder="">

        <button class="btn-white-neg">Ajoutez le vite !</button>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid" id="howto">
    <div class="row row-home">
      <div class="col-lg-4 col-lg-offset-2 col-xs-12">
        <h3  class="tx-red padded-1">Comment ça marche ?</h3>
        <div class="home-market-line">
          <div class="bullet-home">1</div>
          <p>Complétez les informations demandées</p>
        </div>
        <div class="home-market-line">
          <div class="bullet-home">2</div>
          <p>Fleeme génère dynamiquement le courrier adapté à votre situation</p>
        </div>
        <div class="home-market-line">
          <div class="bullet-home">3</div>
          <p>Recevez une confirmation quand le recommandé est envoyé</p>
        </div>
        <div class="home-market-line">
          <div class="bullet-home">4</div>
          <p>Résilier n' a jamais été aussi simple !</p>
        </div>
      </div>
      <div class="col-lg-6   hidden-md">
        <div class="row-bg-image" style="background-image: linear-gradient(-268deg, rgb(255, 255, 255) 3%, rgba(255, 255, 255, 0.31) 28%),  url('<%= image_path('bed.jpg') %>');"></div>
      </div>
    </div>
  </div>

<div class="bg-blue">
  <div class="container">
    <h3 class= "text-center padded-2 tx-white">Les garanties Fleeme</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 card-market">
        <div class=" text-center">
          <img class="card-market-image" src="<%= image_path('home-market-icons-01.png') %>">
          <div class="card-market-name tx-white">Suivi de courrier La Poste</div>
          <div class="card-market-description">
            <p>À tout moment, suivez l'acheminement de votre courrier de résiliation</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 card-market">
        <div class=" text-center">
          <img class="card-market-image" src="<%= image_path('home-market-icons-02.png') %>">
          <div class="card-market-name tx-white">Courrier recommandé AR</div>
          <div class="card-description">
            <p>"Exit tous mes abonnements lorsque j' ai décroché mon job à San Francisco !"</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 card-market">
        <div class=" text-center">
          <img class="card-market-image" src="<%= image_path('home-market-icons-03.png') %>">
          <div class="card-market-name tx-white">Paiement sécurisé</div>
          <div class="card-market-description">
            <p>"Fleeme me permet de résilier mes contrats les yeux fermés !"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-users bg-red">
  <div class="container">
    <h3 class= "text-center padded-2">Ce que nos utilisateurs disent de nous</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card rounded-corners text-center">
          <img class="card-user-avatar" src="<%= image_path('dimitri.jpg') %>">
          <div class="card-user-name">Dimitri</div>
          <div class="card-description">
            <p>"Que de temps gagné grâce à Fleeme. En 5 min j' ai résilié mon abonnement Canal+"</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card rounded-corners text-center">
          <img class="card-user-avatar" src="<%= image_path('alice.jpg') %>">
          <div class="card-user-name">Alice</div>
          <div class="card-description">
            <p>"Exit tous mes abonnements lorsque j' ai décroché mon job à San Francisco !"</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card rounded-corners text-center">
          <img class="card-user-avatar" src="<%= image_path('eric.jpg') %>">
          <div class="card-user-name">Eric</div>
          <div class="card-description">
            <p>"Fleeme me permet de résilier mes contrats les yeux fermés !"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper bg-blue">

</div>
