<div class="container min-height-screen">

  <div class="text-center">
    <h1>Aperçu de votre courrier Fleeme</h1>
  </div>

  <hr>

  <div class="container" style="position: relative;">
    <div class="user">
      <p><%= @unsub.form_complete["firstname"] %> <%= @unsub.form_complete["lastname"] %></p>
      <p><%= @unsub.form_complete["address"] %></p>
      <p><%= @unsub.form_complete["address_complement"] %></p>
      <p><%= @unsub.form_complete["zipcode"] %> <%= @unsub.form_complete["city"] %></p>
    </div>

    <div class="service text-right" style="position: absolute; top: 0px; right: 50px;">
      <p><%= @unsub.service.company %></p>
      <p><%= @unsub.service.name %></p>
      <p><%= @unsub.service.postal_box %></p>
      <p><%= @unsub.service.zip_code %> <%= @unsub.service.city %></p>
    </div>
  </div>

  <hr>


  <div class="date text-right" style="margin-right: 150px;">
    <p><%= @unsub.form_complete["city"] %>, le <%= Date.today.strftime("%d-%m-%Y") %></p>
  </div>

  <hr>

  <div class="object">
   <p> Objet: Résiliation de la carte cinéma, référence client N° <%= @unsub.form_complete["numero_abonne"] %> </p>
  </div>

  <div class="body">
    <p>Madame, Monsieur</p>

    <p><%= @unsub.content %></p>

    <p>Je vous prie de supprimer de vos fichiers toute information relative à mes coordonnées postales et bancaires. Je m'oppose en particulier à toute utilisation, ou mise à disposition à des organismes extérieurs, de mes coordonnées personnelles à des fins commerciales.</p>

    <p>Veuillez accepter Madame, Monsieur l' expression de mes salutations distinguées.</p>
  </div>

  <div class="signature">
    <p><%= @unsub.form_complete["firstname"] %> <%= @unsub.form_complete["lastname"] %></p>
  </div>
</div>

<div class="container">
  <div class="text-left">
    <%= link_to unsub_generate_pdf_path(@unsub.service, @unsub), :class => "button-red" do %> <i class="fa fa-file-text-o" aria-hidden="true"></i> Télécharger ma lettre <% end %>
  </div>
</div>
