<div class="div min-height-screen page-basket">
  <div class="wrapper header-basket">
    <div class="container">
      <div class="basket-title-row">
        <div class="row">
          <div class="col-lg-12">
            <div class="basket-title">
              <i class="fa fa-credit-card" aria-hidden="true"></i>
              <i class="fa fa-lock" aria-hidden="true"></i>
              <span>PAIEMENT SÉCURISÉ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper page-basket">
    <div class="container">
      <div class="basket-content">
        <div class="row">
          <div class="col-lg-3">
            <h5>VOS INFORMATIONS</h5>
            <div class="basket-user-infos">
              <p><%=@unsub.form_complete["firstname"].capitalize%> <%= @unsub.form_complete["lastname"].capitalize%></p>
              <p><small><%=@unsub.form_complete["address"]%><br><%=@unsub.form_complete["zipcode"]%>, <%=@unsub.form_complete["city"]%></small>   </p>
            </div>
          </div>
          <div class="col-lg-9">
            <h5>VOTRE COMMANDE</h5>
            <div class="basket-product-details">
              <div class="basket-product-name">
                <h4>Résiliation automatique Fleeme pour <%= @unsub.service.name %></h4>
              </div>
              <div class="product-detail">
                <div class="row">
                  <div class="col-lg-8">
                    <p class="detail-name">Génération de votre lettre personnalisée</p>
                  </div>
                  <div class="col-lg-4 text-right">
                    <p class="detail-price">Offert</p>
                  </div>
                </div>
              </div>
              <div class="product-detail">
                <div class="row">
                  <div class="col-lg-8">
                    <p class="detail-name">Envoi de votre lettre de résiliation personnalisée en recommandé avec accusé de réception au tarif La Poste</p>
                  </div>
                  <div class="col-lg-4 text-right">
                    <p class="detail-price">5 €</p>
                  </div>
                </div>
              </div>
              <div class="product-detail">
                <div class="row">
                  <div class="col-lg-8">
                    <p class="detail-name">Réception immédiate d'une copie de votre courrier de résiliation sur votre boîte mail</p>
                  </div>
                  <div class="col-lg-4 text-right">
                    <p class="detail-price">Offert</p>
                  </div>
                </div>
              </div>
              <div class="product-detail">
                <div class="row">
                  <div class="col-lg-8">
                    <p class="detail-name">Récipissé électronique délivré par La Poste sur votre boîte mail sous 24h</p>
                  </div>
                  <div class="col-lg-4 text-right">
                    <p class="detail-price">Offert</p>
                  </div>
                </div>
              </div>
              <div class="product-detail">
                <div class="row">
                  <div class="col-lg-8">
                    <p class="detail-name">Frais de gestion Fleeme</p>
                  </div>
                  <div class="col-lg-4 text-right">
                    <p class="detail-price">2 €</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <%= form_tag unsub_payments_path(@unsub) do %>
              <div class="basket-price text-right">
                <p>MONTANT TOTAL: <span id="price">7 €</span></p>
              </div>
              <hr>
              <div class="checkout-button-row text-right">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="Paiement Fleeme"
                  data-description="Résiliation <%= @unsub.service.name %> "
                  data-amount="<%= @unsub.price_cents %>"
                  data-currency="EUR">
                </script>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

