<h1>Almost done <%= @order %></h1>
<%= form_tag do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
    </label>
  </article>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Fleeme"
    data-description="Fleeme <%= @order %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="EUR"></script>
<% end %>
