<div class="container min-height-screen">
  <div class="container">
    <div class="text-right">
      <%= form_tag unsub_payments_path(@unsub) do %>
        <article>
          <label class="amount">
            <span>Prix: <%= @unsub.price_cents.to_f/100 %>€</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My Fleeme"
          data-description="Fleeme <%= @unsub %>"
          data-amount="<%= @unsub.price_cents %>"
          data-currency="EUR"></script>
      <% end %>
    </div>
  </div>
</div>


