<!DOCTYPE html>
<html>
  <head>
    <title>Fleeme - La résiliation tranquille</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.2/css/bootstrap-slider.css">
    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path('apple-touch-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path('apple-touch-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path('apple-touch-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path('apple-touch-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('apple-touch-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('apple-touch-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path('apple-touch-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path('apple-touch-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('pple-touch-icon-180x180.png') %>">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-32x32.png') %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-194x194.png') %>" sizes="194x194">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-96x96.png') %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= image_path('android-chrome-192x192.png') %>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= image_path('favicon-16x16.png') %>" sizes="16x16">
    <link rel="manifest" href="<%= asset_path('manifest.json') %>/">
    <link rel="mask-icon" href="<%= image_path('safari-pinned-tab.svg') %>" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="<%= image_path('mstile-144x144.png') %>">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="<%= controller_name %>-<%= action_name %>">
    <%= render 'shared/navbar' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>

